<div class="selected-projects">
  <div class="projects-grid">
    <div class="project-card">
      <div class="project-title">5G Remote Control</div>
      <video class="project-image" controls>
        <source src="assets/research/remote control/remote control - 4speed - 480p.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="project-description">
        Advanced remote control system leveraging 5G technology for real-time control and monitoring capabilities. <b>Full video on <a href="https://www.youtube.com/embed/Lj6kqDByaEI?si=c1Jzdf6PukLNb1c4" target="_blank">YouTube</a>.</b>
      </div>
    </div>
  </div>
</div>

<style>
  .projects-grid {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .project-card {
    overflow: hidden;
    width: 50%;
  }
  
  .project-image {
    width: 100%;
  }
  
  .project-info {
    padding: 15px;
  }
  
  .project-title {
    color: var(--global-theme-color);
    margin-bottom: 8px;
    font-size: 1.1em;
    font-weight: 600;
  }
  
  .project-description {
    color: var(--global-text-color);
    margin-bottom: 0;
  }
  
  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
</style> 